<div class="fixedfooter">
<div class="app-footer">
  <div class="navbar-header navbar-header-white">
      <div class="tab-btns">
          <a class="tab-btns" [routerLink]="['/home']" routerLinkActive="active"><i class="fa fa-home"></i></a> 
          <a class="tab-btns"[routerLink]="['/help']" routerLinkActive="active"><i class="fa fa-question-circle"></i></a> 
          <a class="tab-btns"[routerLink]="['/settings']" routerLinkActive="active"><i class="fa fa-gear"></i></a> 
        </div>
  </div>

  </div>
</div>
