<div [ngStyle]="{'background-color':  systemInGoodhealth ? 'green' : 'red' }">


<button class="btn success" (click)="refresh()">&#8634; Refresh</button>
<button class="btn success" (click)="enableAll()">&#9745; Enable All</button>
<button class="btn success" (click)="disableAll()">&#9746; Disable All</button>


<img  src="assets/img/foscam.jpg" class="header-img"  (click)="foscamOpen()">
<img  src="assets/img/picam.jpg" class="header-img"  (click)="piOpen()">
<img *ngIf="systemInGoodhealth" src="assets/img/locked.jpg" class="header-img">
<img *ngIf="!systemInGoodhealth" src="assets/img/unlocked.jpg" class="header-img">
        
<div>External IP : {{externalIPString}} </div>

<div style="overflow-x:auto;">
<table>
<tr>
    <th>  ID</th>
    <th>  Name</th>
    <th> Alarmed</th>
    <th> Active/Snooz</th>
    <th> Heart beat</th>
    <th> Last Alarm</th>
    <th> Moak Drill</th>
</tr>
<tr class="btn-group-button" *ngFor="let device of devices">
 <td>  <span>{{device._id}}</span></td> 
 <td>  <span>{{device.name}}</span></td>
  
 <td> 
     <span *ngIf="device.deviceType == 'doorSensor'">
        <span *ngIf="device.unplugged">
            <img  src="assets/img/unplugged.jpg" style="width: 40px; height: 30px; padding-right: 10px;">
        </span>
        <span *ngIf="!device.unplugged">
                <img *ngIf="device.alarmTriggered" src="assets/img/alarmed.jpg" style="width: 40px; height: 30px; padding-right: 10px;">
                <img *ngIf="!device.alarmTriggered" src="assets/img/safe.jpg" style="width: 40px; height: 30px; padding-right: 10px;">
        </span>
        
    </span> 
   
 <td> 
        <input class="healthCheck" type="checkbox" 
        [(ngModel)]="device.turnOnHealthCheck"
        (change)="updateDevice(device)"> 
</td> 
 <td>  <span *ngIf="device.deviceType == 'doorSensor'">
        <img *ngIf="device.unplugged" src="assets/img/broken-heart.jpg" style="width: 40px; height: 30px; padding-right: 10px;">
        <img *ngIf="!device.unplugged" src="assets/img/heart.jpg" style="width: 40px; height: 30px; padding-right: 10px;">
            {{device.healthCheckTimeDisplay}}
    </span></td> 
 <td>  <span *ngIf="device.deviceType == 'doorSensor'">{{device.lastAlarmTimeDisplay}}</span></td>
 <td>  <button *ngIf="device.deviceType == 'doorSensor'" class="btn success" (click)="moakDrill(device._id)">Drill</button></td> 

</tr>
</table>
</div>
<button  class="btn success" (click)="toggleEmailDeletePrcocess()">
        <span *ngIf="deletefoscamInboxDaily">Foscam emails inbox will be deleted daily</span>
        <span *ngIf="!deletefoscamInboxDaily">Foscam emails inbox will not be auto deleted</span></button>
</div>

