

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd){background-color: #bff5bf}
  tr:nth-child(even){background-color: #f2f2f2}

  .btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
  }
  
  .success {background-color: #4CAF50;} /* Green */
  .success:hover {background-color: #46a049;}
  